extends layout

block content
  h1 Lists
  each post in posts
    div.post.center.list
      h3 #{post.title}
      h3 #{post.url}
      p #{post.content}
      form(method="post", action="/api/deletePost/" + post.id)
        button(type="submit") Delete
      
