extends layout

block content
  div.center.createPost
    h1 Create a Post
    
    form(action="/api/post", method="post", enctype="application/x-www-form-urlencoded")
      div
        label(for="title") Title 
        input(type="text", id="title", name="title", requried)
      div
        label(for="board") Board 
        input(type="text", id="board", name="board", required)
      div
        label(for="content") Content
        textarea(name="content", required)
      button(type="submit") Create
